# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo

# Django stuff
db.sqlite3
*.log
/media/
staticfiles/
.env
*.pot
*.pyc

# Virtual environment
venv/
ENV/
env/
.env
# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
